<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        <h1>ONLINE HOTEL BOOKING</h1>
        <table>
            <tr>
                <td>
                    @Html.ActionLink("SignUp", "SignUp")
                </td>
            </tr>

            <tr>
                <td>
                    @Html.ActionLink("SignIn", "SignIn")
                </td>
            </tr>
        </table>
        @RenderBody()
    </div>
</body>
</html>