body {
    background-image: url('/Images/HotelImage.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    
    /* make the body full height*/
    /* set our custom font */
    /* create a linear gradient*/
    /* display: flex;*/
}
.MasterBar {    
    height:40px;
    background-color:ghostwhite;
    text-align:right;
    padding-right:100px;
    font-size:20px;
}
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

input,
select,
textarea {
    max-width: 280px;
}

.text-danger {
    color: red;
    font-size:10px;
}

/*.input_container {
    background-color: #ffffff;
    display: flex;
    align-items: center;
    padding-left: 20px;
}

    .input_container:hover {
        background-color: white;
    }*/

/*.input_container,
#input_submit {
    align-content: center;
    height: 40px;
    border-radius: 30px;
    margin-left: 15%;
    width: 70%;
}*/

/*.input_field {
    color: blue;
    background-color: inherit;
    width: 1000%;
    border: none;
    font-size: 1.3rem;
    padding-left: 30px;
}

 .input_field:hover,
 .input_field:focus {
    outline: none;
 }

#input_submit {
    background-color: wheat;
    padding-left: 0;
    font-weight: bold;
    color: blue;
    text-transform: uppercase;
}

#input_submit:hover {
    background-color: red;
    transition: background-color, 1s;
    cursor: pointer;
}*/

/*:root {
    --body_gradient_left:#7200D0;
    --body_gradient_right: #C800C1;
    --form_bg: #ffffff;
    --input_bg: #E5E5E5;
    --input_hover:#eaeaea;
    --submit_bg: #1FCC44;
    --submit_hover: #40e263;
    --icon_color:#6b6b6b;
}*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#form_wrapper {
    width: 350px;
    height: 350px;
    margin: auto;
    color: #fff;
    background: rgba(0,0,0,0.13);
    border-radius: 50px;
    display: grid;
    padding: 50px;
}
#SignInForm {
    width: 350px;
    height: 250px;
    margin: auto;
    color: #fff;
    background: rgba(0,0,0,0.13);
    border-radius: 50px;
    display: grid;
    padding: 50px;
}
h1{
    text-align: center;
    color: blue;
}
.Button {
    border:2px solid;
    padding :2px 2px 2px 2px;
}
#create_account {
    display: block;
    position: relative;
    top: 30px;
}
