@model OnlineHotelBookingApplication.Models.UserReferralViewModel

<div class="main">
    <img src="~/Images/Referal.png" alt="Sample Image" class="referal" />
    <br />
    <br />
    <hr />
    <br />
    <p class="referral">Your Referral Code : @Model.UserViewModel.Gmail.Substring(0, 7)@Model.UserViewModel.UserId</p>
    <br />
    <p> Share this code and earn Rs 50 </p>
    <br />
    <p> You will get benefit of Rs.20 only if your friend completes any travel of Transaction value > Rs.500 </p>
    <br />
    @{int Count = 0; }
    @foreach (var referral in Model.ReferralViewModels)
            {
        Count++;
    <table> 
        <tr>
            <th class="referralheading">No. </th>
            <th class="referralheading">Users </th>
        </tr>
        <tr>
            <td class="referraltable">@Count</td>
            <td class="referraltable">
                <div>
                    <div>@referral.Candidate</div>
                </div>
            </td>
        </tr>
    </table>
    }
</div>
